## .NET artifacts
bin/
obj/
out/
*.user
*.suo
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## IDE
.vs/
.vscode/
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db

## Logs
*.log
